#account-showing p{
    margin-top: 5px;
    margin-bottom: 5px;
}

#url-spacer{
    margin-right: 57px;
}

.footer .container p{
    margin: 0;
}

#button-spacer{
    display: flex;
    justify-content: space-around;
}
